<!DOCTYPE html>
<html lang="en">
<head>
    <title>CollectorZone</title>
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
<h1>Welcome to CollectorZone, {{name}}!</h1>

<hr>

<h2>Add Offer to Item</h2>
<form action="/offers-web" method="POST">
    <div>
        <label for="item-id">Item:</label>
        <select id="item-id" name="item-id" required>
            <option></option>
            {{# items}}
                <option value="{{id}}">{{name}}</option>
            {{/ items}}
        </select>
    </div>
    <div>
        <label for="name">name:</label>
        <input type="text" id="name" name="name" placeholder="Juan Lucio" required>
    </div>
    <div>
        <label for="email">email:</label>
        <input class="color-green" type="email" id="email" name="email" placeholder="juanLucio@gmail.com" required>
    </div>
    <div>
        <label for="itemPrice">Price:</label>
        <input class="color-green" type="number" id="itemPrice" name="itemPrice" step="0.01" placeholder="75.50" required>
    </div>
    <button type="submit">Add Item</button>
</form>

<hr>

<h2>Current Collection</h2>
{{#items}}
    <div>
        <h3>{{name}} (ID: {{id}})</h3>
        <p>{{description}}</p>
        <p><strong>Price: ${{price}}</strong></p>
        <p>{{lastOffer}}</p>
    </div>
    <hr>
{{/items}}

{{^items}}
    <p>No items in the collection yet. Add one above!</p>
{{/items}}
</body>
</html>